* {
    box-sizing: border-box;
    margin: 0;
}

.nav {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    height: 50px;
    background: skyblue;
    padding: 5px 10px;
}


.content {
   /** Margins and Padding */
   margin: 0 auto;

   /** Borders and Sizing */
   width: 1000px;
   height: 100%;
   flex: 1 1 auto;

   /** Decorations */
   display: flex;
   flex-flow: column;
}

.total-wrap {
    /** Margins and Padding */
    margin: 0 auto;
    padding-top: 200px;

    /** Borders and Sizing */
    width: 250px;

    /** Decorations */

}

.total {
    background: lightgray;
    display: flex;
    align-items: center;
}

.total-txt {
    padding: 15px 5px;

    background: slategray;
}

.total-amt {
    padding-left: 5px;
    flex-grow: 1;
}

.total-type {
    margin-right: 5px;
    padding: 4px;

    background: lightgreen;

    align-self: right;
}

.items-wrap {
     /** Margins and Padding */
    margin: 0 auto;
    padding-top: 50px;
    
    /** Borders and Sizing */
    width: 550px;
    height: 300px;
    
    /** Decorations */
   
}

.items {
    padding: 5px;
    height: 100%;
    background: gray;
    /** Borders and Sizing */

    display: flex;
    flex-wrap: wrap;
}

.item {
    height: 50px;
    width: 50px;
    background: blue;
}