* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    background: #C5E9FF;
}

.nav {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    height: 50px;
    background: skyblue;
    padding: 5px 10px;
}


.content {
   /** Margins and Padding */
   margin: 0 auto;

   /** Borders and Sizing */
   width: 1000px;
   height: 100%;
   flex: 1 1 auto;

   /** Decorations */

}

.total-wrap {
    display: flex;

    /** Margins and Padding */
    margin: 0 auto;
    padding-top: 200px;

    /** Borders and Sizing */
    width: 400px;

    /** Decorations */

}

.filter, .clear, .total {
    border-radius: 5px;
}

.filter, .clear {
    padding: 15px 25px; 
    cursor: pointer;
    align-self: center;
    margin: 0 10px;
}

.filter {
    background: lightgray;
}

.clear {
    background: lightcoral;
    font-weight: bold;
    color: white;
}

.total {
    flex-grow: 1;
    background: lightgray;
    display: flex;
    align-items: center;
}

.total-txt {
    padding: 15px 5px;
    border-radius: 5px 0 0 5px;
    background: slategray;
}

.total-amt {
    padding-left: 5px;
    flex-grow: 1;
}

.total-type {
    margin-right: 5px;
    padding: 4px;

    background: lightgreen;

    align-self: right;
}

.selected-items-wrap {
    padding-top: 25px;
    margin: 0 auto;
}

.selected-items {
    
    padding: 2.5px;

    border-radius: 5px;

    display: flex;
    background: #000000;
}

.selected-item {
    margin: 2.5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #4C4C4C;
}

.items-wrap {
     /** Margins and Padding */
    margin: 0 auto;
    padding-top: 25px;
    
    /** Borders and Sizing */
    width: 550px;
    height: 275px;
    
    /** Decorations */
   
    overflow-y: auto;
}

.items {
    padding: 5px;
    height: 100%;
    /** Borders and Sizing */

    display: flex;
    flex-wrap: wrap;
}


._item {
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightblue;
}

._item:hover > .hidden {
    display: flex;
    flex-flow: column;
}

.hidden {
    display: none;

    /** Margin, Padding */
    padding: 5px;

    /** Borders and Sizing */
    width: 225px;
    height: 50px;
    border: 1px solid black;
    
    background-color: skyblue;
    color: #fff;
    position: relative;
    bottom: -50px;
    right: -50px;
    transition: 0.5;
}
